@{
    ViewData["Title"] = "Breeds";
    ViewData["Page"]="Animal";
}

@model IEnumerable<Vet.Web.Models.Breeds>
<div class="row">
    <div class="col-md-12">
         <a class="btn btn-outline-success"  asp-controller="Animal" asp-action="Create">Add Breeds</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
           <tr>
                <th>Breeds</th>
                <th>Animal</th>
                
                
           </tr>
           <tbody>
                 @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.Name</td>
                        <td>@items.Animal.Name</td>
                        
                    </tr>
                }
           </tbody>
          
        </table>
    </div>
</div>

