@model Vet.Web.Models.ViewModels.PageViewModel;
<div class="row">
    <div class="col-md-12">
       <form class="form" asp-action="@Model.PageAction" asp-controller="@Model.PageController" method="get">
        <input type="hidden" value="@Model.Pager.CurrentPage" name="page">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="@Model.Search" placeholder="Serach" name="search">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
       </form>
    </div>
</div>